#环境
*__pycache__/
.idea/
.vs/
*.bin
.github/
.git/
runtime/
*logs/
*data/

#聊天预设及信息
character/*.yaml
chatpreset/*.json
chatrecords/*.txt

#声音输出
output/songs
output/*.wav
output/*.mp3
*.wav
*.exe

#配置项
config.yml

#资源文件
*.ico
*.png
必读文件/

#mem0模型
mem0model-large/
mem0model-small/
mem0_data/

#内置Sovits
.Sovits/FFmpeg
.Sovits/GPT_SoVITS
.Sovits/GPT_weights_v2Pro
.Sovits/SoVITS_weights_v2Pro
.Sovits/tools